:root {
  --primary: #EE3B2C;   /* Red */
  --secondary: #FA8523; /* Orange */
  --contrast: #1FC1B8 ; /* Teal */
  --dark: #18203A;      /* Dark blue */
  --white: #E0E4DC;     /* White */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:  var(--dark);
  color: var(--white);
}

header {
  background-color:  var(--dark);
  color: var(--primary);
  text-align: center;
  padding: 10 px;
}

main {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #1a252f;
}
